// Basic Colors
$navy: #1ab394;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warning color
$red: #ED5565;        // Danger color

// Various colors
$text-color: #676a6c;   // Body text
$gray: #f3f3f4;         // Background wrapper color
$light-gray: #D1DADE;   // Default label, badge
$label-badge-color: #5E5E5E;
$light-blue:#f3f6fb;

// Spinner color and margin
$spin-color: $navy;
$spin-margin: 0 auto;

//Basics
$basic-link-color: #337ab7;

// IBOX colors ( default panel colors)
$border-color: #e7eaec;     // IBox border
$ibox-title-bg:#ffffff;     // IBox Background header
$ibox-content-bg:#ffffff;   // IBox Background content

//Sidebar width
$sidebar-width: 220px;

// Boxed layout width
$boxed-width: 1200px;
// $boxed-background: image-url('patterns/shattered.png');

//Border radius for buttons
$btn-border-radius: 3px;

//Navigation
$nav-bg: #363B48;
$nav-darkenBg: #282C36;
// $nav-profile-pattern: image-url("patterns/header-profile.png");
$nav-text-color: #a7b1c2;

// Custom vars
$submitted: #D68F65;
$darkedSubmitted: #D76421;
$saved: #4DB4F9;
$darkedSaved: #0093D5;
$approved: #4DA28C;
$darkedApproved: #2E7B65;
$disaproved: #D17783;
$darkedDisaproved: #D8203A;

// Responsive
$sm: 'min-width: 576px';
$md: 'min-width: 768px';
$md-max: 'max-width: 767px';
$lg: 'min-width: 992px';
$lg-max: 'max-width: 991px';
$xl-max: 'max-width: 1399px';

//colors
$silver: #C7C7C7;
$black: #000000;
$white: #ffffff;

//
$tb-header: #F6F7F9;
$_e3e8: #E3E8EF;
$_6774: #677489;
